.bw__contact {
    display: flex;
    flex-direction: row;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bw__contact-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.bw__contact-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
    margin: 2rem 0;
}

.bw__contact-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

.bw__contact-form {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.bw__contact-form-input{
    flex: 1;
    margin-bottom: 1rem;
}

.bw__contact-form-input input{
    width: 200%;
    min-height: 20px;
    background: var(--color-footer);
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 24px;
    border: 2px solid var(--color-footer);
    color: #fff;
    padding: 0 1rem;
    outline: none;
}

.bw__contact-form-input textarea {
    width: 200%;
    min-height: 100px;
    background: var(--color-footer);
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 24px;
    border: 2px solid var(--color-footer);
    color: #fff;
    padding: 0 1rem;
    outline: none;
}

.bw__contact-form-btn button {
    flex: 1;
    width: 100%;
    min-height: 20px;
    background: #B11EE6;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1050px) {
    .bw__contact-form-input input {
        width: 100%;
    }
    .bw__contact-form-input textarea {
        width: 100%;
    }
}

@media screen and (max-width: 810px) {
    .bw__contact {
        flex-direction: column;
    }
}

@media screen and (max-width: 460px) {
    .bw__contact-form-input textarea {
        margin: 1rem
    }

    .bw__contact-form-input input {
        margin: 1rem
    }

    .bw__contact-form-btn button {
        margin: 1rem
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}