.bw__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);

    color: #fff;
}

.bw__footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.bw__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 63px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04rem;
}

.bw__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 1rem;
    text-align: center;
    margin-bottom: 10rem;
}

.bw__footer-btn p {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}

.bw__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.bw__footer-links div {
    width: 250px;
    margin: 1rem;
}

.bw__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.bw__footer-links_logo img {
    width: 118px;
    height: 118px;
    margin-bottom: 1rem;
}

.bw__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.bw__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.bw__footer-links_div h4 {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 1rem;
}

.bw__footer-links_div p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin: 0.5rem 0;
    cursor: pointer;
}

.bw__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.bw__footer-copyright p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .bw__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .bw__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .bw__footer-links_div {
        margin: 1rem 0;
    }

    .bw__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .bw__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}